body {
  background: #1d1136;
  content: '';
  max-width: 1920px;
  max-height: 956px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Raleway', sans-serif;
}
.body-page {
  padding-top: 100px;
  padding-left: 200px;
}
.bfk {
  color: #fff;

  font-size: 120px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.button {
  display: flex;
  padding: 10px 28px;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #5d6afb;
  color: #fff;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.img-first {
  position: fixed;
  top: 0;
  right: 0;
  flex-grow: 1;
}
.img-second {
  position: fixed;
  right: 0;
  bottom: -40px;
  flex-grow: 1;
}
.img-3 {
  position: fixed;
  right: 0px;
  bottom: -100px;
  flex-grow: 1;
}
.img-4 {
  position: fixed;
  right: 500px;
  bottom: -100px;
  flex-grow: 1;
}
